$fontSizePrimary: 1.6rem;
$fontSizeSecondary: 2rem;

$colorBackground1: #0D0D2B;
$colorBackground2: #2B076E;

$color-black: #0D0D2B;
$color-white: #ffffff;
$color-blue: #3671E9;
$color-grey: #E0E0E0;
$color-grey-dark: #828282;
$color-yellow: #E2C044;
$containerWidth: 1200px;

